<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>About:</strong>
    <%= company.about %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= company.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= company.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= company.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= company.country %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= company.contact %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= company.email %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= company.industry_id %>
  </p>

</div>
